/Python/Independent Projects/Voice Bot/present
/Python/IOI Hackathon Project/code/__pycache__
/Python/IOI Hackathon Project/code/cache
/Web Development/finance/.env
/Web Development/finance/-- SQLite.sql
/Python/General Projects/GPA Calculator/GPA
/Python/General Projects/GPA Calculator/GPA.ico
/Python/General Projects/Voice Bot/Attendance
/Python/CS50 AI/degrees/__pycache__
/Python/CS50 AI/Tic Tac Toe/__pycache__
/.vscode
/Python/General Projects/GPA Calculator/testing.py
/Python/KAUST AI/Day 4/runs
/Python/KAUST AI/Day 4/datasets/MNIST/raw